body {
    background-color: #fff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}

.edge {
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
    align-items: center;
    background-color: #f1a536;
    height: 100px;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #000;
    font-size: 1.3vw;
}

footer span {
    font-size: 1.2em;
}

footer nav {
    width: 33%;
    font-size: .8em;
}

#hero {
    position: relative;
    display: flex;
    justify-content: center;
}

#hero img {
    width: 100%;
}

#hero span {
    position: absolute;
    bottom: 100px;
    background-color: #fff;
    padding: 30px;
    font-size: 2.8em;
    font-weight: 800;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 60px 80px;
}

h1 {
    font-size: 4em;
    font-weight: bold;
}

.imgRow {
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
}

#where .imgRow {
    column-gap: 70px;
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    font-size: .7vw;
    background-color: #fff;
    margin-top: 40px;
}

.img img {
    width: 100%;
    height: 100%;
}

#recipes {
    background-color: #dadfea;
}

#where img {
    border: 15px solid #dadfea;
}

p {
    padding: 10px 0;
    font-size: 2.5em;
    margin-top: 20px;
}

#props {
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 3em;
    width: 66%;
    justify-content: space-between;
    row-gap: 10px;
    margin-top: 20px;
}

#timeSection {
    padding: 30px 80px;
    background-color: #dadfea;
}

.headLabel {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.label {
    font-weight: bold;
}

main {
    width: calc(100% - 160px);
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

main>p {
    font-weight: 800;
    font-size: 2.8em;
}

#columns {
    display: flex;
}

.column {
    width: 50%;
}

li {
    font-size: 1.1em;
}

ol li {
    padding-bottom: 30px;
}

ol {
    list-style: decimal;
    margin-left: 20px;
}

ul {
    list-style: disc;
    margin-left: 20px;
}

#save {
    background-color: #a63223;
    border: none;
    color: #fff;
    height: 40px;
    border-radius: 50px;
    font-size: 1.1em;
    padding: 20px 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

q {
    background-color: #eef0f4;
    text-align: center;
    font-weight: 800;
    font-size: 1.5em;
    padding: 40px 120px;
    color: #575656;
    margin: 40px 0;
}